/* Loading spinner ------------------------------------- */
.toast-loader {
    border: 2px solid #f3f3f3;
    border-top: 2px solid #3498db;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    display: inline-block;
    animation: spin 1s linear infinite;
    margin-right: 10px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Register and login forms ---------------------------- */
.invalid-input {
    border: 1px solid #ec6758;
}

.error-msg {
    color: #ec6758;
    font-size: 0.8rem;
    display: block;
    margin-top: 2px;
}

/* Offcanvas Cart ------------------------------------- */
.cart-item-title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    overflow: hidden;
    line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.cart-item-desc {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-transform: lowercase;
    padding-top: 5px;
    opacity: .75;
    font-size: 1rem;
}

.cart-item-qty {
    font-size: .9rem;
    font-weight: 300;
    text-align: center;
}

.cart-item-price {
    font-size: 1rem;
    font-weight: 500;
    padding: .25rem;
    text-align: center;
}

/* Removes the 'X' button from Chrome, Safari, Edge, and Opera */
.search-popup input[type="search"]::-webkit-search-cancel-button {
    display: none;
    -webkit-appearance: none;
}

/* Removes the 'X' button from Internet Explorer */
.search-popup input[type="search"]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

.nav-item .dropdown-menu {
    /* background-color: #fcfcfc; */
    /* border: 1px solid #e5e5e5; */
    /* shadow */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Skeleton Animation ---------------------------------- */
.skeleton{
  color:transparent;
  background:linear-gradient(90deg,#f0f0f0 25%,#e4e4e4 50%,#f0f0f0 75%);
  background-size:200% 100%;
  animation:shimmer 3s linear infinite;
}

.skeleton-wrapper {
    padding: 1rem;
    background-color: #ffffff;
}

@keyframes shimmer {
    0% {
        background-position: -200% 0;
    }

    100% {
        background-position: 200% 0;
    }
}

/* Product Image -------------------------------------- */
#product-grid .product-image {
    width: 100%;
    height: 420px;
    object-fit: cover;
}
